

<h3>Statues</h3>

<div class="statue-gallery">
  <div class="container">
    <% @statues.each do |statue| %>
      <div class="statue-item">
        <%= statue.name %>
        <div class="statue-image">
          <%= image_tag statue.image_url, class: "img"  %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
