
<nav class="navbarrr">
  <div class="header-title">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
    <!-- <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, root_path %> -->
    <h1>Ugly Statues</h1>
  </div>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
