

nav.navbarrr {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  // align-items: center;
}
.header-title {
  display: flex;
  align-items: center;
}

.header-title i {
  margin-right: 12px;
}
.header-title h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  margin-right: 12px;
}
